body {
    background-color: rgb(233, 232, 228);
    margin: 0;

}

.first {

    display: flex;
    height: 70px;
    background-color: rgb(41, 40, 40);
    justify-content: end;

}

a {
    color: rgb(245, 243, 239);
    text-decoration: none;
    font-size: large;
    letter-spacing: 2px;

}

nav {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 60px;

}


.icons img {
    padding-right: 4px;

}



/* zweiter Abschnitt */

.second {
    display: flex;


}

.ext {
    flex: 1;
    height: 480px;
    border-right: solid 1px lightgray;
    padding-top: 300px;
    margin: 50px 0px 50px 0px;
}

.int {
    flex: 1;
    border-right: solid 1px lightgray;
    padding-top: 300px;
    margin: 50px 0px 50px 0px;
}

.fur {
    flex: 1;
    border-right: solid 1px lightgray;
    padding-top: 300px;
    margin: 50px 0px 50px 0px;
}

.mod {
    flex: 1;
    padding-top: 300px;
    margin: 50px 0px 00px 0px;
}


p {
    font-family: sans-serif;
    color: red;
    text-align: center;
}


.name {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
}