body {
    background-color: rgb(233, 232, 228);
    margin: 0;
}

.div1 {
    display: flex;
    height: 70px;
    color: rgb(245, 243, 239);
    background-color: rgb(41, 40, 40);

}

.div2 {
    position: relative;
    display: flex;
    left: 1200px;
    align-items: center;
    gap: 55px;
    
}

.icons {
    margin-left: 45px;


}

/* zweiter Abschnitt */

.second {
    display: flex;

   
}

.div3 {
    flex: 1;
    height: 480px;
    border-right: solid 1px lightgray;
    padding-top: 300px;
    margin: 50px 0px 50px 0px;
}

.div4 {
    flex: 1;
    border-right: solid 1px lightgray;
    padding-top: 300px;
    margin: 50px 0px 50px 0px;
}

.div5 {
    flex: 1;
    border-right: solid 1px lightgray;
    padding-top: 300px;
    margin: 50px 0px 50px 0px;
}

.div6 {
    flex: 1;
    padding-top: 300px;
    margin: 50px 0px 00px 0px;
}

.number {
    color: red;
    text-align: center;
}

p {
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    
}